.item .box{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.item p{
    font-size: 13px;
    color: #807D7E;
}
.item .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item .price-box{
    color: #000;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #F6F6F6;
    border-radius: 5px;
}
.item .wishlist .like{
    background-color: #F6F6F6;
    padding: 10px;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    bottom: 26rem;
    left: 13rem;

}