.home{
    background-image: url(../Assets/bg-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7rem 3rem 8rem 3rem;
}
.right_arrow{
    transform: rotate(180deg)
}
.content{
    margin-right:30rem ;
}
.content h3{
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 1rem;
}
.content h1{
    color: #fff;
    font-size: 75px;
}
.home button{
    outline: none;
    border: none;
    background: transparent;
    padding: 10px 50px;
    background-color: #fff;
    border-radius: 5px;
}