.footer{
    background-color: #3C4242;
    padding: 1rem 5rem 1.5rem 5rem;
}
.footer .container{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding-bottom: 5rem;
}
.footer .container h5{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 1rem;
}
.footer .container li a{
    color: #fff;
    font-size: 12px;
}
.footer .container li{
    margin-bottom: 8px;
}
.footer .container li:last-child{
    margin-bottom: 0;
}
.social{
    display: grid;
}
.icons ul{
    display: flex;
    gap: 10px;
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.socail_box{
     display: flex;
     gap: 1.5rem;
     align-items: center;
}
.store h1{
    color: #fff;
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 20px;
}
.play{
    display: flex;
    align-items: center;
    background-color: #404040;
    padding: 5px;
    border-radius: 15px;
}
.phone{
    display: flex;
    align-items: center;
    background-color: #404040;
    padding: 5px;
    border-radius: 15px;
}
.store a{
    font-size: 10px;
    color: #fff;
}
.store a h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}
.paly .heading{
    margin-left: 1rem;
}
.bottom_box {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    align-items: center;
    padding: 1rem 5rem;
}
.bottom_box h3{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}
.bottom_box .down_arrow{
    width: 1%;
    transform: rotate(270deg);
    display: block;
}
.bottom p{
    text-align: center;
    color: #fff;
    padding-top: 1.5rem;
    font-size: 13px;
}