.similar-product{
    padding: 3rem;
}
.similar-product .top{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.similar-product .top h1{
    font-size: 30px;
}
.similar-product-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.similar-product-item .wishlist .like {
    background-color: #F6F6F6;
    padding: 10px;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    bottom: 28rem;
    left: 13rem;
}